@page "/"

<PageTitle>Home</PageTitle>
<div class="container">
    <div class="first-column">
        <div class="call-input">
            <MatPaper Elevation="10">
                <div class="paper-margin">
                    <MatTextField @bind-Value="@Callsign" Style="width: 100px;"  Dense="true" Label="Callsign"></MatTextField>
                    <MatButton OnClick="LookupClick" Raised="true">Go</MatButton>
                </div>
            </MatPaper>
        </div>
     
        <div class="notes-input">
            <p>
                <MatPaper Elevation="10">
                    <MatTextField @bind-Value="@Notes" Dense="true" Rows="10" Label="Notes" 
                                  TextArea="true" FullWidth="true"></MatTextField>
                </MatPaper>
            </p>
        </div>

        <div class="notes-button justify-space-between">
            <MatButton OnClick="AddNotesClick" Raised="true">Add Notes</MatButton>
            <MatButton OnClick="ReplaceNotesClick" Raised="true">Replace Notes</MatButton>
        </div>
    </div>
    @if (CallInfo is not null && CallInfo.Status == "VALID")
    {
        <div class="results-wrapper">
            <MatPaper class="lic" Elevation="10">
                <div class="page-padding">
                    <b>Callsign:</b> @CallInfo.Current.Callsign<br/>
                    <b>Class:</b> @CallInfo.Current.OperClass<br/>
                    <b>Previous Call:</b> @CallInfo.Previous.Callsign<br/>
                    <b>Grant Date:</b> @CallInfo.OtherInfo.GrantDate<br />
                    <b>Expire Date:</b> @CallInfo.OtherInfo.ExpiryDate<br/>
                </div>
            </MatPaper>

            <MatPaper class="name" Elevation="10">
                <div class="page-padding">
                    <b>Name:</b> @CallInfo.Name<br />
                    <b>Address:</b> @CallInfo.Address.Line1<br />
                    <b>City:</b> @CallInfo.Address.Line2<br />
                </div>
            </MatPaper>

            <MatPaper class="notes" Elevation="10">
                <div class="page-padding">
                    <b>Notes:</b> @CallInfo.Notes<br/>
                </div>
            </MatPaper>

        </div>


    }
</div>
